[submodule "submodules/hulc-baseline"]
	path = submodules/hulc-baseline
	url = git@github.com:language-control-diffusion/hulc-baseline.git
[submodule "submodules/hulc-data"]
	path = submodules/hulc-data
	url = git@github.com:language-control-diffusion/data.git
	ignore = dirty
